<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORECASTIFY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&family=Space+Mono:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>

    <div id="home-btn"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-cloud-sun-fill" viewBox="0 0 16 16">
        <path d="M11.473 11a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5h-.027z"/>
        <path d="M10.5 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0v-1zm3.743 1.964a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 0 0 .708.708l.707-.708zm-7.779-.707a.5.5 0 0 0-.707.707l.707.708a.5.5 0 1 0 .708-.708l-.708-.707zm1.734 3.374a2 2 0 1 1 3.296 2.198c.199.281.372.582.516.898a3 3 0 1 0-4.84-3.225c.352.011.696.055 1.028.129zm4.484 4.074c.6.215 1.125.59 1.522 1.072a.5.5 0 0 0 .039-.742l-.707-.707a.5.5 0 0 0-.854.377zM14.5 6.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
      </svg></a></div>
      <div class="scroll-left">
        <marquee><h3>FORECASTIFY BY QUOC AN LE</h3></marquee>
        </div>
      <div id="help-home">
        <p>click <i>"LOCATE"</i> auto-generate <i>LATITUDE</i> and <i>LONGITUDE</i> <br> (allow website to use your location)</p>
       <button style="display: inline-flex;" id="autoLocationBtn" onclick="getLocation()">LOCATE</button>
       <p> or locate randomly </p>
       <button id="randomCoodBtn" onclick="randomCoordinate()">RANDOM</button>
        <p> or <i>fill in</i> the <i>LATITUDE</i> and <i>LONGITUDE</i> of your location </p>
        <form id="myForm" method="POST" onsubmit="return validateForm()">
          <label for="latitude">LATITUDE</label>
          <input type="text" id="latitude" name="latitude" value="" style="font-family: 'Space Mono', monospace;text-align: center;color:rgb(43, 43, 43);">
          <label for="longitude">LONGITUDE</label>
          <input type="text" id="longitude" name="longitude" value="" style="font-family: 'Space Mono', monospace;text-align: center;color:rgb(43, 43, 43);">
          <p> click <i>"FORECAST" </i>to access the data</p>
          <input type="submit" value="FORECAST" formaction="/get-forecast" class="forecast" style="font-family: 'Space Mono', monospace;text-align: center;width: fit-content;margin-top: 10px;">
        </form> 



        

      </div>

      <footer>
        <p>powered by <span><a href="https://openweathermap.org/"><img src="/images/logo_white_cropped.png" id="openweather-logo" height="50px"></a></span> </p>
      </footer>

      <script>

        //Use GEOLOCATION API to find the latitude and longitude of user   
        
        var x = document.getElementById("demo");
        var position;
        
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(postPosition);
          } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }
        
        async function postPosition(position) {
          var lat = position.coords.latitude;
          var lg = position.coords.longitude;
        
          document.getElementById("latitude").setAttribute("value", lat);
          document.getElementById("longitude").setAttribute("value", lg);}

          function validateForm() {
            var x = document.forms["myForm"]["latitude"].value;
            var y = document.forms["myForm"]["longitude"].value;
            if (x == "" || x == null&&y == "" || y == null) {
              alert("Latitude and longitude must be filled out!");
              return false;
            }
            
}

function randomCoordinate() {
  var la = [ -1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25,-26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38, -39, -40, -41, -42, -43, -44, -45, -46, -47, -48, -49, -50, -51, -52, -53, -54, -55, -56, -57, -58, -59, -60, -61, -62, -63, -64, -65, -66, -67, -68, -69, -70, -71, -72, -73, -74, -75, -76, -77, -78, -79, -80, -81, -82, -83, -84, -85, -86, -87, -88, -89, -90, -91, -92, -93, -94, -95, -96, -97, -98, -99,0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
  var lo = [-180, -179, -178, -177, -176, -175,-174, -173, -172, -171, -170, -169, -168, -167, -166, -165, -164, -163, -162, -161, -160, -159, -158, -157, -156, -155, -154, -153, -152, -151,-150, -149, -148, -147, -146, -145, -144, -143, -142, -141,-140,-139,-138  ,-137,-136,-135,-134,-133,-132,-131,-130,-129,-128,-127,-126,-125,-124,-123,-122,-120,-119,-118,-117,-116,-115,-114,-113,-112,-111,-110,-109,-108,-107,-106,-105,-104,-103,-102,-101,-100,-99 -1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25,-26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38, -39, -40, -41, -42, -43, -44, -45, -46, -47, -48, -49, -50, -51, -52, -53, -54, -55, -56, -57, -58, -59, -60, -61, -62, -63, -64, -65, -66, -67, -68, -69, -70, -71, -72, -73, -74, -75, -76, -77, -78, -79, -80, -81, -82, -83, -84, -85, -86, -87, -88, -89, -90, -91, -92, -93, -94, -95, -96, -97, -98,0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119,120, 121, 122, 123, 124, 125, 126, 127, 128, 129,130,131, 132,133,134,135,136,137,138,139,140,141,142,143,144,145,146147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180]
  var x = Number((Math.random()*la[Math.floor(Math.random()*la.length)]).toFixed(5));
  var y = Number((Math.random()*lo[Math.floor(Math.random()*lo.length)]).toFixed(5));

  document.getElementById("latitude").setAttribute("value", x);
  document.getElementById("longitude").setAttribute("value", y);
}

    </script>
          
</body>
</html>